html {
  font-size: 10px;
}
body {
  font-family: sans-serif;
}

#controlPanel {
  float: left;
  padding-top: 3rem;
}

.button {
  background-color: gray;
  color: white;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  margin: 9rem 4rem;
  cursor: pointer;
}

#traffic-light {
  height: 55rem;
  width: 20rem;
  float: left;
  background-color: #333333;
  border-radius: 4rem;
  margin: 3rem 0;
  padding: 2rem;
}

.bulb {
  height: 15rem;
  width: 15rem;
  background-color: #111111;
  border-radius: 50%;
  margin: 2.5rem auto;
  transition: background 800ms ease-in-out;
}